@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.containerLastOperationsDiv {
    height: all;
    background-color: orange;
    margin: auto;
    font-family: 'PT Sans Narrow', sans-serif;;
}

.headerDiv {
    display: flex;
    justify-content: space-around;
}

.h3title {
    text-align: center;
    font-size: 200%;
    margin-left:25%;
}
.lastOperationDiv {
    background: white;
    margin: auto;
    height:8%;
    margin-top: 2%;
    width: 40%;
    border-width:5px;  
}

.h1Amount {
    padding-left: 60%;
}

.infoOperationDiv {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

.operationType{
    padding: auto;
    margin-right: 1%;
    font-weight: bold;
    font-size: 150%;
}

.filterIcon {
    margin-top: auto;
    margin-bottom: auto;
}

.filterIcon:hover {
    color: white;
    cursor: pointer;
}