.containerLastOperationDiv {
    background: lightgray;
    margin: auto;
    margin-top: 2%;
    width: 40%;
    border-width:5px;  
    border-style:inset;
    border-color: gray;
}

.h1Amount {
    padding-left: 60%;
}