.allOperationsDiv {
    height: all;
    width: 90%;
    margin: auto;
}

.table {
    width: 100%;
}

.tdTable {
   text-align: center;
   border: 1px solid black;
}

.thTable {
    border: 1px solid black
}

.h3Title {
    font-size: 200%;
    text-align: center;
}

.edit {
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}